.content {
  position: relative;
  margin: 94px auto;
  max-width: 800px;

  text-align: center;
}

img {
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.primary__btn {
  max-width: 260px;
  margin: 40px auto;
}
